In [1]:
import os
import pandas as pd

In [2]:
cwd = os.getcwd()
BASE_DIR = os.path.dirname(cwd)
DATA_DIR = os.path.join(BASE_DIR, 'data')
CACHE_DIR = os.path.join(BASE_DIR, 'cache')
working_file = os.path.join(CACHE_DIR, 'box-office-ranking-dataset.csv')
output_file = os.path.join(CACHE_DIR, 'box-office-ranking-cleaned-dataset.csv')

In [3]:
df = pd.read_csv(working_file)

In [4]:
df.head(n=999)

,Rank,Release Group,Worldwide,Domestic,%,Foreign,%.1,filename,year
0,1,Die Hard with a Vengeance,"$366,101,666","$100,012,499",27.3%,"$266,089,167",72.7%,1995_boxofficemojo_rankings.csv,1995
1,2,Toy Story,"$363,007,140","$191,796,233",52.8%,"$171,210,907",47.2%,1995_boxofficemojo_rankings.csv,1995
2,3,Apollo 13,"$353,148,882","$172,071,312",48.7%,"$181,077,570",51.3%,1995_boxofficemojo_rankings.csv,1995
3,4,GoldenEye,"$352,194,034","$106,429,941",30.2%,"$245,764,093",69.8%,1995_boxofficemojo_rankings.csv,1995
4,5,Pocahontas,"$346,079,773","$141,579,773",40.9%,"$204,500,000",59.1%,1995_boxofficemojo_rankings.csv,1995
...,...,...,...,...,...,...,...,...,...
994,118,Accepted,"$38,623,262","$36,323,505",94%,"$2,299,757",6%,2006_boxofficemojo_rankings.csv,2006
995,119,Employee of the Month,"$38,395,414","$28,444,855",74.1%,"$9,950,559",25.9%,2006_boxofficemojo_rankings.csv,2006
996,120,Just My Luck,"$38,159,905","$17,326,650",45.4%,"$20,833,255",54.6%,2006_boxofficemojo_rankings.csv,2006
997,121,The Covenant,"$37,598,767","$23,380,495",62.2%,"$14,218,272",37.8%,2006_boxofficemojo_rankings.csv,2006
998,122,Miss Potter,"$35,078,241","$3,005,605",8.6%,"$32,072,636",91.4%,2006_boxofficemojo_rankings.csv,2006

In [5]:
df['Rank'] = -1
df.head()

,Rank,Release Group,Worldwide,Domestic,%,Foreign,%.1,filename,year
0,-1,Die Hard with a Vengeance,"$366,101,666","$100,012,499",27.3%,"$266,089,167",72.7%,1995_boxofficemojo_rankings.csv,1995
1,-1,Toy Story,"$363,007,140","$191,796,233",52.8%,"$171,210,907",47.2%,1995_boxofficemojo_rankings.csv,1995
2,-1,Apollo 13,"$353,148,882","$172,071,312",48.7%,"$181,077,570",51.3%,1995_boxofficemojo_rankings.csv,1995
3,-1,GoldenEye,"$352,194,034","$106,429,941",30.2%,"$245,764,093",69.8%,1995_boxofficemojo_rankings.csv,1995
4,-1,Pocahontas,"$346,079,773","$141,579,773",40.9%,"$204,500,000",59.1%,1995_boxofficemojo_rankings.csv,1995

In [6]:
df['Domestic %'] = df['%']
df['Foreign %'] = df['%.1']
df.head()

,Rank,Release Group,Worldwide,Domestic,%,Foreign,%.1,filename,year,Domestic %,Foreign %
0,-1,Die Hard with a Vengeance,"$366,101,666","$100,012,499",27.3%,"$266,089,167",72.7%,1995_boxofficemojo_rankings.csv,1995,27.3%,72.7%
1,-1,Toy Story,"$363,007,140","$191,796,233",52.8%,"$171,210,907",47.2%,1995_boxofficemojo_rankings.csv,1995,52.8%,47.2%
2,-1,Apollo 13,"$353,148,882","$172,071,312",48.7%,"$181,077,570",51.3%,1995_boxofficemojo_rankings.csv,1995,48.7%,51.3%
3,-1,GoldenEye,"$352,194,034","$106,429,941",30.2%,"$245,764,093",69.8%,1995_boxofficemojo_rankings.csv,1995,30.2%,69.8%
4,-1,Pocahontas,"$346,079,773","$141,579,773",40.9%,"$204,500,000",59.1%,1995_boxofficemojo_rankings.csv,1995,40.9%,59.1%

In [7]:
df.drop(columns=['%', '%.1'], inplace=True)
df.head()

,Rank,Release Group,Worldwide,Domestic,Foreign,filename,year,Domestic %,Foreign %
0,-1,Die Hard with a Vengeance,"$366,101,666","$100,012,499","$266,089,167",1995_boxofficemojo_rankings.csv,1995,27.3%,72.7%
1,-1,Toy Story,"$363,007,140","$191,796,233","$171,210,907",1995_boxofficemojo_rankings.csv,1995,52.8%,47.2%
2,-1,Apollo 13,"$353,148,882","$172,071,312","$181,077,570",1995_boxofficemojo_rankings.csv,1995,48.7%,51.3%
3,-1,GoldenEye,"$352,194,034","$106,429,941","$245,764,093",1995_boxofficemojo_rankings.csv,1995,30.2%,69.8%
4,-1,Pocahontas,"$346,079,773","$141,579,773","$204,500,000",1995_boxofficemojo_rankings.csv,1995,40.9%,59.1%

In [8]:
to_clean_cols = ['Worldwide', 'Domestic', 'Foreign']


def currency_str_to_int(current_value):
    currency_value = current_value.replace("$", "").replace(",", "")
    try:
        currency_value = int(currency_value)
    except:
        currency_value = 0
    return currency_value


def clean_col(row):
    for col in to_clean_cols:
        current_value = row[col]
        row[col] = currency_str_to_int(current_value)
    return(row)


df_cleaned = df.apply(clean_col, axis=1)
df_cleaned.head()

,Rank,Release Group,Worldwide,Domestic,Foreign,filename,year,Domestic %,Foreign %
0,-1,Die Hard with a Vengeance,366101666,100012499,266089167,1995_boxofficemojo_rankings.csv,1995,27.3%,72.7%
1,-1,Toy Story,363007140,191796233,171210907,1995_boxofficemojo_rankings.csv,1995,52.8%,47.2%
2,-1,Apollo 13,353148882,172071312,181077570,1995_boxofficemojo_rankings.csv,1995,48.7%,51.3%
3,-1,GoldenEye,352194034,106429941,245764093,1995_boxofficemojo_rankings.csv,1995,30.2%,69.8%
4,-1,Pocahontas,346079773,141579773,204500000,1995_boxofficemojo_rankings.csv,1995,40.9%,59.1%

In [9]:
df_cleaned.dtypes

Rank              int64
Release Group    object
Worldwide         int64
Domestic          int64
Foreign           int64
filename         object
year              int64
Domestic %       object
Foreign %        object
dtype: object

In [10]:
df_cleaned.sort_values(by=['Worldwide'], inplace=True, ascending=False)
df_cleaned.head()

,Rank,Release Group,Worldwide,Domestic,Foreign,filename,year,Domestic %,Foreign %
15454,-1,Avengers: Endgame,2797800564,858373000,1939427564,2019_boxofficemojo_rankings.csv,2019,30.7%,69.3%
11605,-1,Avatar,2744336793,749766139,1994570654,2009_boxofficemojo_rankings.csv,2009,27.3%,72.7%
16230,-1,Star Wars: Episode VII - The Force Awakens,2068223624,936662225,1131561399,2015_boxofficemojo_rankings.csv,2015,45.3%,54.7%
8341,-1,Avengers: Infinity War,2048359754,678815482,1369544272,2018_boxofficemojo_rankings.csv,2018,33.1%,66.9%
12786,-1,Titanic,1850906470,600788188,1250118282,1997_boxofficemojo_rankings.csv,1997,32.5%,67.5%

In [11]:
df_cleaned.reset_index(inplace=True, drop=True)
df_cleaned.head()

,Rank,Release Group,Worldwide,Domestic,Foreign,filename,year,Domestic %,Foreign %
0,-1,Avengers: Endgame,2797800564,858373000,1939427564,2019_boxofficemojo_rankings.csv,2019,30.7%,69.3%
1,-1,Avatar,2744336793,749766139,1994570654,2009_boxofficemojo_rankings.csv,2009,27.3%,72.7%
2,-1,Star Wars: Episode VII - The Force Awakens,2068223624,936662225,1131561399,2015_boxofficemojo_rankings.csv,2015,45.3%,54.7%
3,-1,Avengers: Infinity War,2048359754,678815482,1369544272,2018_boxofficemojo_rankings.csv,2018,33.1%,66.9%
4,-1,Titanic,1850906470,600788188,1250118282,1997_boxofficemojo_rankings.csv,1997,32.5%,67.5%

In [12]:
df_cleaned['Rank'] = df_cleaned.index + 1
df_cleaned.head()

,Rank,Release Group,Worldwide,Domestic,Foreign,filename,year,Domestic %,Foreign %
0,1,Avengers: Endgame,2797800564,858373000,1939427564,2019_boxofficemojo_rankings.csv,2019,30.7%,69.3%
1,2,Avatar,2744336793,749766139,1994570654,2009_boxofficemojo_rankings.csv,2009,27.3%,72.7%
2,3,Star Wars: Episode VII - The Force Awakens,2068223624,936662225,1131561399,2015_boxofficemojo_rankings.csv,2015,45.3%,54.7%
3,4,Avengers: Infinity War,2048359754,678815482,1369544272,2018_boxofficemojo_rankings.csv,2018,33.1%,66.9%
4,5,Titanic,1850906470,600788188,1250118282,1997_boxofficemojo_rankings.csv,1997,32.5%,67.5%

In [13]:
df_cleaned['Domestic %'] = df_cleaned['Domestic'] / df_cleaned['Worldwide']
df_cleaned['Foreign %'] = df_cleaned['Foreign'] / df_cleaned['Worldwide']
df_cleaned.head()

,Rank,Release Group,Worldwide,Domestic,Foreign,filename,year,Domestic %,Foreign %
0,1,Avengers: Endgame,2797800564,858373000,1939427564,2019_boxofficemojo_rankings.csv,2019,0.306803,0.693197
1,2,Avatar,2744336793,749766139,1994570654,2009_boxofficemojo_rankings.csv,2009,0.273205,0.726795
2,3,Star Wars: Episode VII - The Force Awakens,2068223624,936662225,1131561399,2015_boxofficemojo_rankings.csv,2015,0.452882,0.547118
3,4,Avengers: Infinity War,2048359754,678815482,1369544272,2018_boxofficemojo_rankings.csv,2018,0.331395,0.668605
4,5,Titanic,1850906470,600788188,1250118282,1997_boxofficemojo_rankings.csv,1997,0.324591,0.675409

In [14]:
df_cleaned.dtypes

Rank               int64
Release Group     object
Worldwide          int64
Domestic           int64
Foreign            int64
filename          object
year               int64
Domestic %       float64
Foreign %        float64
dtype: object

In [15]:
df_cleaned.to_csv(output_file, index=False)