In [1]:
import os
import pandas as pd

In [2]:
cwd = os.getcwd()
BASE_DIR = os.path.dirname(cwd)
DATA_DIR = os.path.join(BASE_DIR, 'data')
CACHE_DIR = os.path.join(BASE_DIR, 'cache')
os.makedirs(CACHE_DIR, exist_ok = True)

In [3]:
for filename in os.listdir(DATA_DIR):
    print(filename)

1995_boxofficemojo_rankings.csv
1999_boxofficemojo_rankings.csv
1983_boxofficemojo_rankings.csv
1978_boxofficemojo_rankings.csv
2006_boxofficemojo_rankings.csv
2010_boxofficemojo_rankings.csv
2017_boxofficemojo_rankings.csv
.DS_Store
2001_boxofficemojo_rankings.csv
1984_boxofficemojo_rankings.csv
1988_boxofficemojo_rankings.csv
1992_boxofficemojo_rankings.csv
2016_boxofficemojo_rankings.csv
2000_boxofficemojo_rankings.csv
1985_boxofficemojo_rankings.csv
1989_boxofficemojo_rankings.csv
1993_boxofficemojo_rankings.csv
1994_boxofficemojo_rankings.csv
1998_boxofficemojo_rankings.csv
1979_boxofficemojo_rankings.csv
1982_boxofficemojo_rankings.csv
2007_boxofficemojo_rankings.csv
2011_boxofficemojo_rankings.csv
2002_boxofficemojo_rankings.csv
2018_boxofficemojo_rankings.csv
2014_boxofficemojo_rankings.csv
1991_boxofficemojo_rankings.csv
1987_boxofficemojo_rankings.csv
1977_boxofficemojo_rankings.csv
1980_boxofficemojo_rankings.csv
1996_boxofficemojo_rankings.csv
2013_boxofficemojo_rankings.csv
2009_boxofficemojo_rankings.csv
2005_boxofficemojo_rankings.csv
1981_boxofficemojo_rankings.csv
1997_boxofficemojo_rankings.csv
2012_boxofficemojo_rankings.csv
2008_boxofficemojo_rankings.csv
2004_boxofficemojo_rankings.csv
2003_boxofficemojo_rankings.csv
2019_boxofficemojo_rankings.csv
2015_boxofficemojo_rankings.csv
2020_boxofficemojo_rankings.csv
1990_boxofficemojo_rankings.csv
1986_boxofficemojo_rankings.csv

In [4]:
df = pd.read_csv(os.path.join(DATA_DIR, '2020_boxofficemojo_rankings.csv'))
df.head()

,Rank,Release Group,Worldwide,Domestic,%,Foreign,%.1
0,1,The Eight Hundred,"$441,656,664","$331,279",<0.1%,"$441,325,385",99.9%
1,2,Bad Boys for Life,"$426,505,244","$206,305,244",48.4%,"$220,200,000",51.6%
2,3,Tenet,"$323,300,000","$48,300,000",14.9%,"$275,000,000",85.1%
3,4,Sonic the Hedgehog,"$306,766,470","$146,066,470",47.6%,"$160,700,000",52.4%
4,5,Dolittle,"$245,516,662","$77,047,065",31.4%,"$168,469,597",68.6%

In [5]:
df['Year'] = 2020

In [6]:
df.head()

,Rank,Release Group,Worldwide,Domestic,%,Foreign,%.1,Year
0,1,The Eight Hundred,"$441,656,664","$331,279",<0.1%,"$441,325,385",99.9%,2020
1,2,Bad Boys for Life,"$426,505,244","$206,305,244",48.4%,"$220,200,000",51.6%,2020
2,3,Tenet,"$323,300,000","$48,300,000",14.9%,"$275,000,000",85.1%,2020
3,4,Sonic the Hedgehog,"$306,766,470","$146,066,470",47.6%,"$160,700,000",52.4%,2020
4,5,Dolittle,"$245,516,662","$77,047,065",31.4%,"$168,469,597",68.6%,2020

In [7]:
my_entire_data = pd.DataFrame

my_dataframes = []
csv_files = [x for x in os.listdir(DATA_DIR) if x.endswith(".csv")]

for filename in csv_files:
    print(filename)
    year = filename.replace("_boxofficemojo_rankings.csv", "")
    csv_path = os.path.join(DATA_DIR, filename)
    this_df = pd.read_csv(csv_path)
    this_df['filename'] = filename
    this_df['year'] = year
    print(this_df.head(n=1))
    my_dataframes.append(this_df)

1995_boxofficemojo_rankings.csv
   Rank              Release Group     Worldwide      Domestic      %  \
0     1  Die Hard with a Vengeance  $366,101,666  $100,012,499  27.3%

        Foreign    %.1                         filename  year
0  $266,089,167  72.7%  1995_boxofficemojo_rankings.csv  1995
1999_boxofficemojo_rankings.csv
   Rank                              Release Group     Worldwide  \
0     1  Star Wars: Episode I - The Phantom Menace  $924,305,084

       Domestic      %       Foreign    %.1                         filename  \
0  $431,088,295  46.6%  $493,216,789  53.4%  1999_boxofficemojo_rankings.csv

   year
0  1999
1983_boxofficemojo_rankings.csv
   Rank                               Release Group     Worldwide  \
0     1  Star Wars: Episode VI - Return of the Jedi  $374,593,074

       Domestic      %       Foreign    %.1                         filename  \
0  $252,583,617  67.4%  $122,009,457  32.6%  1983_boxofficemojo_rankings.csv

   year
0  1983
1978_boxofficemojo_rankings.csv
   Rank Release Group     Worldwide      Domestic      %       Foreign    %.1  \
0     1        Grease  $366,178,870  $159,978,870  43.7%  $206,200,000  56.3%

                          filename  year
0  1978_boxofficemojo_rankings.csv  1978
2006_boxofficemojo_rankings.csv
   Rank                               Release Group       Worldwide  \
0     1  Pirates of the Caribbean: Dead Man's Chest  $1,066,179,725

       Domestic      %       Foreign    %.1                         filename  \
0  $423,315,812  39.7%  $642,863,913  60.3%  2006_boxofficemojo_rankings.csv

   year
0  2006
2010_boxofficemojo_rankings.csv
   Rank Release Group       Worldwide      Domestic      %       Foreign  \
0     1   Toy Story 3  $1,066,969,703  $415,004,880  38.9%  $651,964,823

     %.1                         filename  year
0  61.1%  2010_boxofficemojo_rankings.csv  2010
2017_boxofficemojo_rankings.csv
   Rank                            Release Group       Worldwide  \
0     1  Star Wars: Episode VIII - The Last Jedi  $1,332,539,889

       Domestic      %       Foreign    %.1                         filename  \
0  $620,181,382  46.5%  $712,358,507  53.5%  2017_boxofficemojo_rankings.csv

   year
0  2017
2001_boxofficemojo_rankings.csv
   Rank                          Release Group     Worldwide      Domestic  \
0     1  Harry Potter and the Sorcerer's Stone  $974,755,371  $317,575,550

       %       Foreign    %.1                         filename  year
0  32.6%  $657,179,821  67.4%  2001_boxofficemojo_rankings.csv  2001
1984_boxofficemojo_rankings.csv
   Rank                         Release Group     Worldwide      Domestic  \
0     1  Indiana Jones and the Temple of Doom  $333,107,271  $179,870,271

     %       Foreign  %.1                         filename  year
0  54%  $153,237,000  46%  1984_boxofficemojo_rankings.csv  1984
1988_boxofficemojo_rankings.csv
   Rank Release Group     Worldwide      Domestic      %       Foreign    %.1  \
0     1      Rain Man  $354,825,435  $172,825,435  48.7%  $182,000,000  51.3%

                          filename  year
0  1988_boxofficemojo_rankings.csv  1988
1992_boxofficemojo_rankings.csv
   Rank Release Group     Worldwide      Domestic      %       Foreign    %.1  \
0     1       Aladdin  $504,050,219  $217,350,219  43.1%  $286,700,000  56.9%

                          filename  year
0  1992_boxofficemojo_rankings.csv  1992
2016_boxofficemojo_rankings.csv
   Rank               Release Group       Worldwide      Domestic      %  \
0     1  Captain America: Civil War  $1,153,296,293  $408,084,349  35.4%

        Foreign    %.1                         filename  year
0  $745,211,944  64.6%  2016_boxofficemojo_rankings.csv  2016
2000_boxofficemojo_rankings.csv
   Rank           Release Group     Worldwide      Domestic      %  \
0     1  Mission: Impossible II  $546,388,108  $215,409,889  39.4%

        Foreign    %.1                         filename  year
0  $330,978,219  60.6%  2000_boxofficemojo_rankings.csv  2000
1985_boxofficemojo_rankings.csv
   Rank       Release Group     Worldwide      Domestic      %       Foreign  \
0     1  Back to the Future  $381,109,762  $210,609,762  55.3%  $170,500,000

     %.1                         filename  year
0  44.7%  1985_boxofficemojo_rankings.csv  1985
1989_boxofficemojo_rankings.csv
   Rank                       Release Group     Worldwide      Domestic  \
0     1  Indiana Jones and the Last Crusade  $474,171,806  $197,171,806

       %       Foreign    %.1                         filename  year
0  41.6%  $277,000,000  58.4%  1989_boxofficemojo_rankings.csv  1989
1993_boxofficemojo_rankings.csv
   Rank  Release Group     Worldwide      Domestic      %       Foreign  \
0     1  Jurassic Park  $912,667,947  $357,067,947  39.1%  $555,600,000

     %.1                         filename  year
0  60.9%  1993_boxofficemojo_rankings.csv  1993
1994_boxofficemojo_rankings.csv
   Rank  Release Group     Worldwide      Domestic    %       Foreign  %.1  \
0     1  The Lion King  $763,455,561  $312,855,561  41%  $450,600,000  59%

                          filename  year
0  1994_boxofficemojo_rankings.csv  1994
1998_boxofficemojo_rankings.csv
   Rank Release Group     Worldwide      Domestic      %       Foreign    %.1  \
0     1    Armageddon  $553,709,788  $201,578,182  36.4%  $352,131,606  63.6%

                          filename  year
0  1998_boxofficemojo_rankings.csv  1998
1979_boxofficemojo_rankings.csv
   Rank Release Group     Worldwide     Domestic      %       Foreign    %.1  \
0     1     Moonraker  $210,308,099  $70,308,099  33.4%  $140,000,000  66.6%

                          filename  year
0  1979_boxofficemojo_rankings.csv  1979
1982_boxofficemojo_rankings.csv
   Rank               Release Group     Worldwide      Domestic      %  \
0     1  E.T. the Extra-Terrestrial  $663,400,925  $359,197,037  54.1%

        Foreign    %.1                         filename  year
0  $304,203,888  45.9%  1982_boxofficemojo_rankings.csv  1982
2007_boxofficemojo_rankings.csv
   Rank                             Release Group     Worldwide      Domestic  \
0     1  Pirates of the Caribbean: At World's End  $960,996,492  $309,420,425

       %       Foreign    %.1                         filename  year
0  32.2%  $651,576,067  67.8%  2007_boxofficemojo_rankings.csv  2007
2011_boxofficemojo_rankings.csv
   Rank                                 Release Group       Worldwide  \
0     1  Harry Potter and the Deathly Hallows: Part 2  $1,341,511,219

       Domestic      %       Foreign    %.1                         filename  \
0  $381,011,219  28.4%  $960,500,000  71.6%  2011_boxofficemojo_rankings.csv

   year
0  2011
2002_boxofficemojo_rankings.csv
   Rank                          Release Group     Worldwide      Domestic  \
0     1  The Lord of the Rings: The Two Towers  $936,689,735  $339,789,881

       %       Foreign    %.1                         filename  year
0  36.3%  $596,899,854  63.7%  2002_boxofficemojo_rankings.csv  2002
2018_boxofficemojo_rankings.csv
   Rank           Release Group       Worldwide      Domestic      %  \
0     1  Avengers: Infinity War  $2,048,359,754  $678,815,482  33.1%

          Foreign    %.1                         filename  year
0  $1,369,544,272  66.9%  2018_boxofficemojo_rankings.csv  2018
2014_boxofficemojo_rankings.csv
   Rank                    Release Group       Worldwide      Domestic      %  \
0     1  Transformers: Age of Extinction  $1,104,054,072  $245,439,076  22.2%

        Foreign    %.1                         filename  year
0  $858,614,996  77.8%  2014_boxofficemojo_rankings.csv  2014
1991_boxofficemojo_rankings.csv
   Rank               Release Group     Worldwide      Domestic      %  \
0     1  Terminator 2: Judgment Day  $516,950,043  $204,843,345  39.6%

        Foreign    %.1                         filename  year
0  $312,106,698  60.4%  1991_boxofficemojo_rankings.csv  1991
1987_boxofficemojo_rankings.csv
   Rank     Release Group     Worldwide      Domestic      %       Foreign  \
0     1  Fatal Attraction  $320,145,693  $156,645,693  48.9%  $163,500,000

     %.1                         filename  year
0  51.1%  1987_boxofficemojo_rankings.csv  1987
1977_boxofficemojo_rankings.csv
   Rank                       Release Group     Worldwide      Domestic  \
0     1  Star Wars: Episode IV - A New Hope  $503,015,849  $307,263,857

       %       Foreign    %.1                         filename  year
0  61.1%  $195,751,992  38.9%  1977_boxofficemojo_rankings.csv  1977
1980_boxofficemojo_rankings.csv
   Rank                                   Release Group     Worldwide  \
0     1  Star Wars: Episode V - The Empire Strikes Back  $400,083,259

       Domestic      %       Foreign    %.1                         filename  \
0  $209,398,025  52.3%  $190,685,234  47.7%  1980_boxofficemojo_rankings.csv

   year
0  1980
1996_boxofficemojo_rankings.csv
   Rank     Release Group     Worldwide      Domestic      %       Foreign  \
0     1  Independence Day  $817,400,891  $306,169,268  37.5%  $511,231,623

     %.1                         filename  year
0  62.5%  1996_boxofficemojo_rankings.csv  1996
2013_boxofficemojo_rankings.csv
   Rank Release Group       Worldwide      Domestic      %       Foreign  \
0     1        Frozen  $1,280,802,282  $400,738,009  31.3%  $880,064,273

     %.1                         filename  year
0  68.7%  2013_boxofficemojo_rankings.csv  2013
2009_boxofficemojo_rankings.csv
   Rank Release Group       Worldwide      Domestic      %         Foreign  \
0     1        Avatar  $2,744,336,793  $749,766,139  27.3%  $1,994,570,654

     %.1                         filename  year
0  72.7%  2009_boxofficemojo_rankings.csv  2009
2005_boxofficemojo_rankings.csv
   Rank                        Release Group     Worldwide      Domestic  \
0     1  Harry Potter and the Goblet of Fire  $895,921,036  $290,013,036

       %       Foreign    %.1                         filename  year
0  32.4%  $605,908,000  67.6%  2005_boxofficemojo_rankings.csv  2005
1981_boxofficemojo_rankings.csv
   Rank            Release Group     Worldwide      Domestic    %  \
0     1  Raiders of the Lost Ark  $353,988,025  $212,222,025  60%

        Foreign  %.1                         filename  year
0  $141,766,000  40%  1981_boxofficemojo_rankings.csv  1981
1997_boxofficemojo_rankings.csv
   Rank Release Group       Worldwide      Domestic      %         Foreign  \
0     1       Titanic  $1,850,906,470  $600,788,188  32.5%  $1,250,118,282

     %.1                         filename  year
0  67.5%  1997_boxofficemojo_rankings.csv  1997
2012_boxofficemojo_rankings.csv
   Rank Release Group       Worldwide      Domestic    %       Foreign  %.1  \
0     1  The Avengers  $1,518,812,988  $623,357,910  41%  $895,455,078  59%

                          filename  year
0  2012_boxofficemojo_rankings.csv  2012
2008_boxofficemojo_rankings.csv

   Rank    Release Group       Worldwide      Domestic      %       Foreign  \
0     1  The Dark Knight  $1,003,045,358  $533,345,358  53.2%  $469,700,000

     %.1                         filename  year
0  46.8%  2008_boxofficemojo_rankings.csv  2008
2004_boxofficemojo_rankings.csv
   Rank Release Group     Worldwide      Domestic      %       Foreign    %.1  \
0     1       Shrek 2  $928,760,770  $441,226,247  47.5%  $487,534,523  52.5%

                          filename  year
0  2004_boxofficemojo_rankings.csv  2004
2003_boxofficemojo_rankings.csv
   Rank                                  Release Group       Worldwide  \
0     1  The Lord of the Rings: The Return of the King  $1,140,682,011

       Domestic      %       Foreign    %.1                         filename  \
0  $377,027,325  33.1%  $763,654,686  66.9%  2003_boxofficemojo_rankings.csv

   year
0  2003
2019_boxofficemojo_rankings.csv
   Rank      Release Group       Worldwide      Domestic      %  \
0     1  Avengers: Endgame  $2,797,800,564  $858,373,000  30.7%

          Foreign    %.1                         filename  year
0  $1,939,427,564  69.3%  2019_boxofficemojo_rankings.csv  2019
2015_boxofficemojo_rankings.csv
   Rank                               Release Group       Worldwide  \
0     1  Star Wars: Episode VII - The Force Awakens  $2,068,223,624

       Domestic      %         Foreign    %.1  \
0  $936,662,225  45.3%  $1,131,561,399  54.7%

                          filename  year
0  2015_boxofficemojo_rankings.csv  2015
2020_boxofficemojo_rankings.csv
   Rank      Release Group     Worldwide  Domestic      %       Foreign  \
0     1  The Eight Hundred  $441,656,664  $331,279  <0.1%  $441,325,385

     %.1                         filename  year
0  99.9%  2020_boxofficemojo_rankings.csv  2020
1990_boxofficemojo_rankings.csv
   Rank Release Group     Worldwide      Domestic    %       Foreign  %.1  \
0     1         Ghost  $505,702,588  $217,631,306  43%  $288,071,282  57%

                          filename  year
0  1990_boxofficemojo_rankings.csv  1990
1986_boxofficemojo_rankings.csv
   Rank Release Group     Worldwide      Domestic    %       Foreign  %.1  \
0     1       Top Gun  $353,811,728  $176,781,728  50%  $177,030,000  50%

                          filename  year
0  1986_boxofficemojo_rankings.csv  1986

In [8]:
my_entire_dataframe = pd.concat(my_dataframes)

In [9]:
my_entire_dataframe.head()

,Rank,Release Group,Worldwide,Domestic,%,Foreign,%.1,filename,year
0,1,Die Hard with a Vengeance,"$366,101,666","$100,012,499",27.3%,"$266,089,167",72.7%,1995_boxofficemojo_rankings.csv,1995
1,2,Toy Story,"$363,007,140","$191,796,233",52.8%,"$171,210,907",47.2%,1995_boxofficemojo_rankings.csv,1995
2,3,Apollo 13,"$353,148,882","$172,071,312",48.7%,"$181,077,570",51.3%,1995_boxofficemojo_rankings.csv,1995
3,4,GoldenEye,"$352,194,034","$106,429,941",30.2%,"$245,764,093",69.8%,1995_boxofficemojo_rankings.csv,1995
4,5,Pocahontas,"$346,079,773","$141,579,773",40.9%,"$204,500,000",59.1%,1995_boxofficemojo_rankings.csv,1995

In [10]:
my_entire_dataframe.tail()

,Rank,Release Group,Worldwide,Domestic,%,Foreign,%.1,filename,year
202,203,Duet for One,"$8,736","$8,736",100%,-,-,1986_boxofficemojo_rankings.csv,1986
203,204,Space Rage,"$7,689","$7,689",100%,-,-,1986_boxofficemojo_rankings.csv,1986
204,205,Crimewave,"$5,101","$5,101",100%,-,-,1986_boxofficemojo_rankings.csv,1986
205,206,Those Glory Glory Days,"$4,504","$4,504",100%,-,-,1986_boxofficemojo_rankings.csv,1986
206,207,Winter Flight,"$2,729","$2,729",100%,-,-,1986_boxofficemojo_rankings.csv,1986

In [11]:
dataset = os.path.join(CACHE_DIR, 'box-office-ranking-dataset.csv')
my_entire_dataframe.to_csv(dataset, index=False)